<div class="container">

			<%= form_for @comment do |f| %>

				<p>
					<%= f.label 'comment' %>
					<%= f.text_area :title %>
				</p>

				<%= f.hidden_field :user_id, :value => current_user.id %>

				<p>
					<%= f.submit 'сохранить' %>
				</p>

			<% end %>

</div>